<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warmerhammer.personalnotes">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" android:host="*"/>
        </intent>
    </queries>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainActivity.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/clipboard_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clipboard_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalNotes"
        android:usesCleartextTraffic="true"
        android:value="@string/app_name">
        <activity
            android:name=".GDrive.GDriveActivity"
            android:exported="false"
            android:label="GDriveRepo"
            android:theme="@style/transparentBackground" />
        <activity
            android:name=".GoogleSignInActivity"
            android:exported="false"
            android:label="@string/title_activity_google_sign_in"
            android:theme="@style/Theme.PersonalNotes.NoActionBar" />

        <activity android:name=".SearchActivity.SearchActivity"
            android:exported="false"
            android:label="SearchActivity"
            android:theme="@style/Theme.PersonalNotes.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PersonalNotes.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity End -->
        <meta-data
            android:name="com.google.android.gms.APP_ID"
            android:value="@string/app_name"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>